.wrapper {
    padding-left: 10px;
  }

  .status-wrapper {
    padding-left: 30px;
  }

  .item-vspacing {
    padding-top: 0px;
  }

  .th-td-spacing {
    padding-left: 10px
  }

 .barcode-spacing {
  padding-bottom: 10px;
  padding-left: 0px;
}  
